@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;
@use 'themes/colors' as c;

.about-tabs {
  padding: 6rem 1.5rem 5rem;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 .5rem 1rem;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 3rem;
    transition: opacity .3s ease;
    font-size: 1.6rem;
    color: v.$text-black-600;
    font-weight: 500;
    text-transform: capitalize;

    &:hover:not(.about-tabs__item--active) {
      opacity: .6;
    }

    &--active {
      box-shadow: v.$outer-shadow;
      color: c.$skin-color;
    }
  }
}
