@use '../../scss/variables' as v;
@use '../../scss/mixins' as m;

.container {
  width: 58%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;

  @include m.laptop {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  @include m.small {
    width: v.$container-width-sm;
  }
}
.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.option {
  background-color: v.$color-bg-variant;
  padding: 1.8rem;
  border-radius: 1.8rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all .3s ease;

  &:hover {
    background: transparent;
    border-color: v.$color-primary-variant;
  }

  &_icon {
    font-size: 2.4rem;
    margin-bottom: .8rem;
  }

  &_link {
    margin-top: 1.3rem;
    display: inline-block;
    font-size: 1.4rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  input,
  textarea {
    width: 100%;
    padding: 2.4rem;
    border-radius: .8rem;
    background-color: transparent;
    border: 2px solid v.$color-primary-variant;
    resize: none;
    color: v.$color-white;
  }

  .form_btn {
    @include m.btn(v.$color-primary, v.$color-bg);
  }
}
