extends ../templates/template
block nav-menu
  include ../includes/nav-menu
block home-section
  include ../includes/effects-wrap
  include ../includes/home-section
block about-section
  include ../includes/about-section
block service-section
  include ../includes/service-section
block portfolio-section
  include ../includes/portfolio-section
block testimonial-section
  include ../includes/testimonial-section
block contact-section
  include ../includes/contact-section
block portfolio-popup
  include ../includes/portfolio-popup
