@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// Fuentes
$font-primary: 'Poppins', sans-serif;

// Tamaño de Media Queries
$mobile: 480px;
$small: 600px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1300px;


// colors 
$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77, 181, 255, .4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, .6);

// Decimal
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;



