@use 'variables' as v;

/** Media Queries **/
@mixin mobile {
  @media (min-width: v.$mobile) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}
@mixin desktopXL {
  @media (min-width: v.$desktopxl) {
    @content;
  }
}

@mixin button($bgColor, $colorText) {
  background-color: $bgColor;
  border-radius: 3rem;
  padding: 1rem 2.5rem;
  color: $colorText;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  border: none;
  outline: none;
  // text-align: center;
}

// flex
@mixin flexible($direction, $corte, $just, $align) {
  display: flex;
  flex-flow: $direction $corte;
  justify-content: $just;
  align-items: $align;
}

// grid
@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin hover-in-shadow {
  position: relative;
  z-index: 1;

  &:hover {
    box-shadow: v.$outer-shadow-0;
  }

  &:after {
    content: '';
    border-radius: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: box-shadow .3s ease;
    z-index: -1;
  }
  &:hover:after {
    box-shadow: v.$inner-shadow;
  }
}

@mixin logo-burger {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

