// Fuentes
$font-primary: 'Raleway', sans-serif;

// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Theme colors
$color-1: #fb839e;
$color-2: #ec9412;
$color-3: #1fc586;
$color-4: #2eb1ed;

// Colores
$bg-black-900: #000000;
$bg-black-100: #dddddd;
$bg-black-50: #eff0f4;
$bg-opacity: rgb(255 255 255 / 50%);
$text-black-900: #000000;
$text-black-700: #555555;
$text-black-600: #666666;
$text-black-300: #bbbbbb;

// shadow
$outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
$outer-shadow-0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;
$inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
$inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;



// Unidades



