
//- variables menu home
-const pages = ['home', 'about', 'services', 'portfolio', 'testimonial', 'contact']

//- variables about-social attr i clases
-const redSocials = ['facebook-f', 'twitter', 'instagram', 'linkedin-in']

//- variables skills names lenguje and frameword
-const lenguajes = ['Html', 'php', 'Bootstrap', 'Jquery', 'React',  'JavaScript']

//- variables home-section > effects
-let limit = 27




