@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;
@use 'themes/colors' as c;

.pp-details {
  max-width: 1350px;
  width: calc(85% - 3rem);
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity .5s ease;

  &--active {
    opacity: 1;
  }

  &__inner {
    padding: 3rem 0;
  }

  &__title {
    padding: 0 1.5rem;
    text-align: left;
  }

  &__h2 {
    font-size: 2.8rem;
    color: v.$text-black-900;
    text-transform: capitalize;
    font-size: 600;
    margin: 0 0 .5rem;
  }

  &__paragraph {
    font-size: 1.4rem;
    font-weight: 600;
    color: v.$text-black-600;
    margin: 0 0 1.5rem;
    border-bottom: 1px solid v.$bg-black-100;
    padding-bottom: 1rem;
  }

  &__category {
    font-weight: 400;
    text-transform: capitalize;
  }
}

.portfolio-details {
  &__description {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 1.5rem;
  }

  &__h3 {
    font-size: 2rem;
    font-weight: 600;
    color: v.$text-black-700;
    margin: 0 0 1.5rem;
    text-transform: capitalize;
  }

  &__paragraph {
    color: v.$text-black-600;
    line-height: 2.6rem;
    margin: 0;
  }
}
.portfolio-info {
  flex: 0 0 35%;
  max-width: 35%;
  padding: 0 1.5rem;

  &__h3 {
    font-size: 2rem;
    font-weight: 600;
    color: v.$text-black-700;
    margin: 0 0 1.5rem;
    text-transform: capitalize;
  }

  &__li {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
    color: v.$text-black-600;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__span {
    font-weight: 400;
  }

  &__enlace {
    color: c.$skin-color;
  }
}
