.effects-wrap
  .effects-wrap__effect.effects-wrap__effect--1
  .effects-wrap__effect.effects-wrap__effect--2
    - for (let x = 0; x <= limit; x++)
      div.effects-wrap__points
  .effects-wrap__effect.effects-wrap__effect--3
  .effects-wrap__effect.effects-wrap__effect--4
  .effects-wrap__effect.effects-wrap__effect--5
    - for (let x = 0; x <= limit - 18; x++)
      div.effects-wrap__line

