.home-section__container
  .home-section__row.home-section__full-screen
    .home-text
      p.home-text__paragraph Hello
      h2.home-text__h2 I'm Luisinho
      h1.home-text__h1 Web Designer & Developer
      a(href="#about").link-item.home-text__link More About me
    .home-img
      .home-img__box
        img(src="images/profile-pic.png", alt="profile-pic").home-img__image
