//- pp details
#pp-details.pp-details
  .pp-details__inner
    .pp-details__title
      h2.pp-details__h2 personal portfolio
      p.pp-details__paragraph Category - 
        span.pp-details__category Web application
    .pp-details__project
      //- copy xd
      .portfolio-details__row
        .portfolio-details__description
          h3.portfolio-details__h3 Project Brief: 
          p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
        .portfolio-info
          h3.portfolio-info__h3 Project info
          ul.portfolio-info__ul
            li.portfolio-info__li Date - 
              span.portfolio-info__span 2020
            li.portfolio-info__li Clien - 
              span.portfolio-info__span xyz
            li.portfolio-info__li Tools - 
              span.portfolio-info__span html, css, javascript
            li.portfolio-info__li Web - 
              span.portfolio-info__span
                a(href="www.dominian.com").portfolio-info__enlace www.dominian.com
.pp__separator
//- pp main
.pp__main
  .pp__inner
    #pp-btn.pp__btn Project Details
      i.fas.fa-plus.pp__btn--i
    #pp-close.pp__close &times;
    img(src="images/portfolio/large/project-7/1.png", alt="popup img").pp__img
    .pp__counter 1 of 6
  //- pp loader
  .pp__preloader
    .pp__loader
  //- pp navigation
  div#pp-prev.pp__prev
    i.fas.fa-play.pp__prev--i
  div#pp-next.pp__next
    i.fas.fa-play.pp__next--i
