.service-section__container
  .service-section__row
    .service-section__title
      h2(data-heading="Services").service-section__heading What i do
  .service-section__row
    //- service item start
    .service-item
      .service-item__inner
        .service-item__icon
          i.service-item__icon--i.fas.fa-mobile-alt
        h3.service-item__h3 Responsive Design
        p.service-teim__paragraph Consectetur odio praesentium cumque ullam nemo!
    //- service item end
    //- service item start
    .service-item
      .service-item__inner
        .service-item__icon
          i.service-item__icon--i.fas.fa-laptop-code
        h3.service-item__h3 web Design
        p.service-teim__paragraph Consectetur odio praesentium cumque ullam nemo!
    //- service item end
    //- service item start
    .service-item
      .service-item__inner
        .service-item__icon
          i.service-item__icon--i.fas.fa-palette
        h3.service-item__h3 graphic Design
        p.service-teim__paragraph Consectetur odio praesentium cumque ullam nemo!
    //- service item end
    //- service item start
    .service-item
      .service-item__inner
        .service-item__icon
          i.service-item__icon--i.fas.fa-code
        h3.service-item__h3 clean code
        p.service-teim__paragraph Consectetur odio praesentium cumque ullam nemo!
    //- service item end
    //- service item start
    .service-item
      .service-item__inner
        .service-item__icon
          i.service-item__icon--i.fas.fa-search
        h3.service-item__h3 seo marketing
        p.service-teim__paragraph Consectetur odio praesentium cumque ullam nemo!
    //- service item end
    //- service item start
    .service-item
      .service-item__inner
        .service-item__icon
          i.service-item__icon--i.fas.fa-bullhorn
        h3.service-item__h3 Great support
        p.service-teim__paragraph Consectetur odio praesentium cumque ullam nemo!
    //- service item end

