.testimonial-section__container
  .testimonial-section__row
    .testimonial-section__title
      h2(data-heading="testimonial").testimonial-section__heading Client speack
  .testimonial-section__row
    #testi-box.testi-box
      .testi-box__slider
        .testi-box__contains
          //- testi item start
          #testi-item.testi-item.testi-item--active
            i.fas.fa-quote-left.testi-item__i.testi-item__i--left
            i.fas.fa-quote-right.testi-item__i.testi-item__i--right
            p.testi-item__paragraph Dolor asperiores expedita quis nemo doloremque. Adipisicing deleniti tempore autem maiores eveniet provident! Illo sint.
            img(src="images/testimonial/1.png", alt="image testimonial").testi-item__img
            span.testi-item__span Raj Himachal
          //- testi item end
          //- testi item start
          #testi-item.testi-item
            i.fas.fa-quote-left.testi-item__i.testi-item__i--left
            i.fas.fa-quote-right.testi-item__i.testi-item__i--right
            p.testi-item__paragraph Dolor asperiores expedita quis nemo doloremque. Adipisicing deleniti tempore autem maiores eveniet provident! Illo sint.
            img(src="images/testimonial/1.png", alt="image testimonial").testi-item__img
            span.testi-item__span Soschiv Upreti
          //- testi item end
          //- testi item start
          #testi-item.testi-item
            i.fas.fa-quote-left.testi-item__i.testi-item__i--left
            i.fas.fa-quote-right.testi-item__i.testi-item__i--right
            p.testi-item__paragraph Dolor asperiores expedita quis nemo doloremque. Adipisicing deleniti tempore autem maiores eveniet provident! Illo sint.
            img(src="images/testimonial/1.png", alt="image testimonial").testi-item__img
            span.testi-item__span gamer king
          //- testi item end
      .testi-slider-nav
        span#testi-prev.testi-slider-nav__prev
          i.fas.fa-angle-left.testi-slider-nav__i
        span#testi-next.testi-slider-nav__next
          i.fas.fa-angle-right.testi-slider-nav__i
